{
  "openapi": "3.1.0",
  "info": {
    "title": "Frasma Public Website API",
    "version": "0.1.0",
    "description": "Public API description for Frasma website contact, chat, scheduling, diagnostic summary, MCP, and service status endpoints."
  },
  "servers": [
    {
      "url": "https://www.frasma.org"
    }
  ],
  "paths": {
    "/api/status": {
      "get": {
        "operationId": "getStatus",
        "summary": "Read service status",
        "responses": {
          "200": {
            "description": "Service status",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/chat": {
      "post": {
        "operationId": "postChat",
        "summary": "Send a chat message to the Frasma assistant",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChatRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Assistant response or timeout marker",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ChatResponse"
                    },
                    {
                      "$ref": "#/components/schemas/TimeoutResponse"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "405": {
            "$ref": "#/components/responses/Error"
          },
          "429": {
            "$ref": "#/components/responses/Error"
          },
          "500": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/api/conversations/{id}": {
      "get": {
        "operationId": "getConversation",
        "summary": "Restore a persisted chat conversation",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Conversation messages",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConversationResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "429": {
            "$ref": "#/components/responses/Error"
          },
          "500": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/api/schedule-meeting": {
      "post": {
        "operationId": "scheduleMeeting",
        "summary": "Submit a meeting request",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ScheduleMeetingRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Meeting request accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OkResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BooleanError"
          },
          "405": {
            "$ref": "#/components/responses/BooleanError"
          },
          "429": {
            "$ref": "#/components/responses/BooleanError"
          },
          "500": {
            "$ref": "#/components/responses/BooleanError"
          }
        }
      }
    },
    "/api/send-email": {
      "post": {
        "operationId": "sendQuoteRequestEmail",
        "summary": "Send a reviewed quote request email",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SendEmailRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Email sent",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OkResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "405": {
            "$ref": "#/components/responses/Error"
          },
          "429": {
            "$ref": "#/components/responses/Error"
          },
          "500": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/api/send-diagnostic-summary": {
      "post": {
        "operationId": "sendDiagnosticSummary",
        "summary": "Send a reviewed process diagnostic summary",
        "description": "Validates and emails a user-reviewed diagnostic summary. The endpoint does not persist the payload.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DiagnosticSummaryRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Diagnostic summary sent",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OkResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BooleanError"
          },
          "405": {
            "$ref": "#/components/responses/BooleanError"
          },
          "429": {
            "$ref": "#/components/responses/BooleanError"
          },
          "500": {
            "$ref": "#/components/responses/BooleanError"
          }
        }
      }
    },
    "/api/mcp": {
      "post": {
        "operationId": "mcpStreamableHttp",
        "summary": "Model Context Protocol (Streamable HTTP)",
        "description": "Public read-only MCP endpoint exposing Frasma profile, knowledge search, diagnostic framework, and diagnostic summary handoff (no email send).",
        "responses": {
          "200": {
            "description": "MCP JSON-RPC response"
          },
          "405": {
            "$ref": "#/components/responses/Error"
          },
          "429": {
            "$ref": "#/components/responses/Error"
          }
        }
      },
      "get": {
        "operationId": "mcpStreamableHttpGet",
        "summary": "MCP Streamable HTTP session / SSE resume",
        "responses": {
          "200": {
            "description": "MCP stream or session response"
          },
          "405": {
            "$ref": "#/components/responses/Error"
          }
        }
      },
      "delete": {
        "operationId": "mcpStreamableHttpDelete",
        "summary": "End MCP session",
        "responses": {
          "200": {
            "description": "Session ended"
          }
        }
      }
    }
  },
  "components": {
    "responses": {
      "Error": {
        "description": "Error response",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "BooleanError": {
        "description": "Error response with ok=false",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/BooleanErrorResponse"
            }
          }
        }
      }
    },
    "schemas": {
      "ChatMessage": {
        "type": "object",
        "required": ["role", "content"],
        "properties": {
          "role": {
            "type": "string",
            "enum": ["user", "assistant"]
          },
          "content": {
            "type": "string",
            "maxLength": 30000,
            "description": "User messages are limited to 2000 characters; assistant messages may include a reviewed structured form up to 30000 characters."
          }
        }
      },
      "ChatRequest": {
        "type": "object",
        "required": ["messages"],
        "properties": {
          "messages": {
            "type": "array",
            "minItems": 1,
            "maxItems": 20,
            "items": {
              "$ref": "#/components/schemas/ChatMessage"
            }
          },
          "lang": {
            "type": "string",
            "enum": ["it", "en"]
          },
          "timezone": {
            "type": "string",
            "examples": ["Europe/Rome"]
          },
          "pagePath": {
            "type": "string",
            "description": "Current public website path used to prioritize verified knowledge.",
            "examples": ["/", "/studio"]
          },
          "conversationId": {
            "type": "string",
            "format": "uuid",
            "description": "Existing persisted conversation id, when resuming a session."
          }
        }
      },
      "ChatResponse": {
        "type": "object",
        "required": ["response"],
        "properties": {
          "response": {
            "type": "string"
          },
          "conversationId": {
            "type": "string",
            "format": "uuid",
            "description": "Present when MongoDB persistence is configured and connected."
          }
        }
      },
      "TimeoutResponse": {
        "type": "object",
        "required": ["code"],
        "properties": {
          "code": {
            "type": "string",
            "const": "TIMEOUT"
          },
          "response": {
            "type": "string",
            "description": "Fallback assistant message with EMAIL_FORM and MEETING_FORM markers when the agent times out."
          },
          "conversationId": {
            "type": "string",
            "format": "uuid"
          }
        }
      },
      "ConversationResponse": {
        "type": "object",
        "required": ["conversationId", "messages"],
        "properties": {
          "conversationId": {
            "type": "string",
            "format": "uuid"
          },
          "messages": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ChatMessage"
            }
          }
        }
      },
      "ScheduleMeetingRequest": {
        "type": "object",
        "required": ["date", "time", "email"],
        "properties": {
          "date": {
            "type": "string",
            "format": "date"
          },
          "time": {
            "type": "string",
            "pattern": "^\\d{2}:\\d{2}$"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "description": {
            "type": "string",
            "maxLength": 2000
          },
          "timezone": {
            "type": "string",
            "default": "Europe/Rome"
          },
          "honeypot": {
            "type": "string",
            "description": "Spam-prevention field. Leave empty."
          }
        }
      },
      "SendEmailRequest": {
        "type": "object",
        "required": ["clientEmail", "subject", "body"],
        "properties": {
          "clientEmail": {
            "type": "string",
            "format": "email"
          },
          "subject": {
            "type": "string",
            "maxLength": 200
          },
          "body": {
            "type": "string",
            "maxLength": 5000
          },
          "honeypot": {
            "type": "string",
            "maxLength": 0,
            "description": "Spam-prevention field. Leave empty."
          }
        }
      },
      "DiagnosticSummaryRequest": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "clientName",
          "clientEmail",
          "sector",
          "process",
          "currentWorkflow",
          "bottlenecks",
          "currentSystems",
          "volumesAndFrequency",
          "baselineMetrics",
          "dataAvailable",
          "constraints",
          "desiredOutcomes",
          "needCategories",
          "opportunities",
          "recommendations",
          "openQuestions",
          "nextSteps",
          "language"
        ],
        "properties": {
          "clientName": { "type": "string", "maxLength": 120 },
          "clientEmail": { "type": "string", "format": "email", "maxLength": 254 },
          "clientCompany": { "type": "string", "maxLength": 160 },
          "sector": { "type": "string", "maxLength": 160 },
          "process": { "type": "string", "maxLength": 240 },
          "currentWorkflow": { "type": "string", "maxLength": 2000 },
          "bottlenecks": { "$ref": "#/components/schemas/DiagnosticList" },
          "currentSystems": { "$ref": "#/components/schemas/DiagnosticList" },
          "volumesAndFrequency": { "type": "string", "maxLength": 1000 },
          "baselineMetrics": { "$ref": "#/components/schemas/DiagnosticList" },
          "dataAvailable": { "$ref": "#/components/schemas/DiagnosticList" },
          "constraints": { "$ref": "#/components/schemas/DiagnosticList" },
          "desiredOutcomes": { "$ref": "#/components/schemas/DiagnosticList" },
          "needCategories": {
            "type": "array",
            "minItems": 1,
            "maxItems": 7,
            "items": {
              "type": "string",
              "enum": [
                "document_erp",
                "workflow",
                "ticketing",
                "dataset_benchmark",
                "ai_optimization",
                "company_wiki",
                "ai_presence"
              ]
            }
          },
          "opportunities": { "$ref": "#/components/schemas/DiagnosticList" },
          "recommendations": { "$ref": "#/components/schemas/DiagnosticList" },
          "openQuestions": {
            "type": "array",
            "maxItems": 20,
            "items": { "type": "string", "maxLength": 800 }
          },
          "nextSteps": { "$ref": "#/components/schemas/DiagnosticList" },
          "language": { "type": "string", "enum": ["it", "en"] },
          "honeypot": {
            "type": "string",
            "maxLength": 0,
            "description": "Spam-prevention field. Leave empty."
          }
        }
      },
      "DiagnosticList": {
        "type": "array",
        "minItems": 1,
        "maxItems": 20,
        "items": {
          "type": "string",
          "maxLength": 800
        }
      },
      "StatusResponse": {
        "type": "object",
        "required": ["ok", "service", "version", "timestamp", "persistence"],
        "properties": {
          "ok": {
            "type": "boolean",
            "const": true
          },
          "service": {
            "type": "string",
            "const": "frasma"
          },
          "version": {
            "type": "string"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time"
          },
          "persistence": {
            "type": "object",
            "required": ["configured", "connected"],
            "properties": {
              "configured": {
                "type": "boolean"
              },
              "connected": {
                "type": "boolean"
              }
            }
          }
        }
      },
      "OkResponse": {
        "type": "object",
        "required": ["ok"],
        "properties": {
          "ok": {
            "type": "boolean",
            "const": true
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "required": ["error"],
        "properties": {
          "error": {
            "type": "string"
          }
        }
      },
      "BooleanErrorResponse": {
        "type": "object",
        "required": ["ok", "error"],
        "properties": {
          "ok": {
            "type": "boolean",
            "const": false
          },
          "error": {
            "type": "string"
          }
        }
      }
    }
  }
}
